@import "tailwindcss";

@layer base {
  body {
    font-family: var(--font-inter), system-ui, -apple-system,
      BlinkMacSystemFont, "Segoe UI", sans-serif;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-thumb {
  background: #4b5563;
  border-radius: 6px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
